<!-- Login Container -->
<div id="login-container">
    <!-- Register Header -->
    <h1 class="h2 text-light text-center push-top-bottom animation-slideDown">
        <i class="fa fa-plus"></i> <strong>Create Account</strong>
    </h1>
    <!-- END Register Header -->

    <!-- Register Form -->
    <div class="block animation-fadeInQuickInv">
        <!-- Register Title -->
        <div class="block-title">
            <div class="block-options pull-right">
                <a href="page_ready_login.php" class="btn btn-effect-ripple btn-primary" data-toggle="tooltip" data-placement="left" title="Back to login"><i class="fa fa-user"></i></a>
            </div>
            <h2>Register</h2>
        </div>
        <!-- END Register Title -->

        <!-- Register Form -->
        <form name="vm.userForm" ng-submit="vm.signup(vm.userForm.$valid)" class="signin" novalidate autocomplete="off">
          <fieldset>
            <div class="form-group" show-errors>
              <label for="firstName">First Name</label>
              <input type="text" id="firstName" name="firstName" class="form-control" ng-model="vm.credentials.firstName" placeholder="First Name" required autofocus>
              <div ng-messages="vm.userForm.firstName.$error" role="alert">
                <p class="help-block error-text" ng-message="required">First name is required.</p>
              </div>
            </div>
            <div class="form-group" show-errors>
              <label for="lastName">Last Name</label>
              <input type="text" id="lastName" name="lastName" class="form-control" ng-model="vm.credentials.lastName" placeholder="Last Name" required>
              <div ng-messages="vm.userForm.lastName.$error" role="alert">
                <p class="help-block error-text" ng-message="required">Last name is required.</p>
              </div>
            </div>
            <div class="form-group" show-errors>
              <label for="email">Email</label>
              <input type="email" id="email" name="email" class="form-control" ng-model="vm.credentials.email" placeholder="Email" lowercase required>
              <div ng-messages="vm.userForm.email.$error" role="alert">
                <p class="help-block error-text" ng-message="required">Email address is required.</p>
                <p class="help-block error-text" ng-message="email">Email address is invalid.</p>
              </div>
            </div>
            <div class="form-group" show-errors>
              <label for="username">Username</label>
              <input type="text" id="username" name="username" class="form-control" ng-model="vm.credentials.username" ng-pattern="vm.usernameRegex" placeholder="Username" lowercase required>
              <div ng-messages="vm.userForm.username.$error" role="alert">
                <p class="help-block error-text" ng-message="required">Username is required.</p>
                <p class="help-block error-text" ng-message="pattern">Please enter a valid username: 3+ characters long, non restricted word, characters "_-.", no consecutive dots, does not begin or end with dots, letters a-z and numbers 0-9.</p>
              </div>
            </div>
            <div class="form-group" show-errors>
              <label for="password">Password</label>
                <input type="password" id="password" name="password" class="form-control" ng-model="vm.credentials.password" placeholder="Password" uib-popover="{{vm.getPopoverMsg()}}" popover-trigger="outsideClick" password-validator required>
              <div ng-messages="vm.userForm.password.$error" role="alert">
                <p class="help-block error-text" ng-message="required">Password is required.</p>
                <div ng-repeat="passwordError in passwordErrors">
                  <p class="help-block error-text" ng-show="vm.userForm.password.$error.requirements">{{passwordError}}</p>
                </div>
              </div>
            </div>
            <div class="form-group" ng-show="!vm.userForm.password.$error.required">
              <label>Password Requirements</label>
              <uib-progressbar value="requirementsProgress" type="{{requirementsColor}}"><span style="color:white; white-space:nowrap;">{{requirementsProgress}}%</span></uib-progressbar>
            </div>
            <div class="text-center form-group">
              <button type="submit" class="btn btn-primary">Sign up</button>
              &nbsp; or&nbsp;
              <a ui-sref="authentication.signin" class="show-signup">Sign in</a>
            </div>
          </fieldset>
        </form>
        <!-- END Register Form -->
    </div>
    <!-- END Register Block -->

    <!-- Footer -->
    <footer class="text-muted text-center animation-pullUp">
        <small><span id="year-copy"></span> &copy; <a href="http://wwww.ldwmining.com" target="_blank"> LDW Mining 1.0</a></small>
    </footer>
    <!-- END Footer -->
</div>
<!-- END Login Container -->

<!-- Load and execute javascript code used only in this page -->
<script src="/js/pages/readyRegister.js"></script>
<script>$(function(){ ReadyRegister.init(); });</script>
